<template>
  <div>
    Module Component! <br />
    Vuex: {{ text }}
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ModuleComponent",

  computed: {
    ...mapState('module', ['text'])
  }
}
</script>

<style scoped></style>