<template>
  <div id="app">
    <module-component />
    <sub-module />
  </div>
</template>

<script>
import ModuleComponent from "./components/ModuleComponent";
import SubModule from "./submodule/components/SubModule";

export default {
  name: 'App',

  components: {
    SubModule,
    ModuleComponent,
  }
}
</script>

<style></style>
